<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <link rel = "stylesheet" href="/assets/css/bootsrap.css">
    <link rel = "stylesheet" href="/assets/css/style.css">
    <link rel = "shortcut icon" href="/assets/img/5.jpg" type="image/x-icon">
</head>
<body class="bg-dark">
<div class="container bg-light">
    <div class="row" >
        <div class="col m-2 p-2" >
            <img class="logo" src="/assets/img/notes.jpg">
            <span class="head-text">СПИСОК ЗАДАЧ</span>
        </div>
        <div class="col m-2 p-2 text-right">
           <button class="btn btn-primary" data-toggle="modal" data-target="#modal1">Добавить категорию</button>
        </div>
    </div>
<table id="table1" class="table table-bordered table-striped mb-5" style="width:880px;" align="center">
    <thead class="thead-dark">
    <tr>
        <th style="width: 200px;">Категории</th>
        <th>Задачи</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="list: ${lists}">
        <td scope="row">
            <!--<a th:href=@{/index} th:utext="${list.getName()}"></a>-->
            <a th:href="@{/index/{id}(id=${list.getId()})}" th:utext="${list.getName()}"></a></li>
                <form align="right"  action="#" th:action="@{/index/{id}/delete (id=${list.getId()})}">
                    <button type="submit" >Удалить</button>
                </form>
        </td>
        <td scope="row">
            <div th:each="task: ${tasks}">
                <div>
                    <div  th:utext="${task.getTitle()}"></div>
                    <a th:if="${task.getId()}"th:href="@{/task/{taskId}/delete (id=${task.getId()})}">Удалить</a>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
    <br><br><br><br><br><br><br><br><br><br>
</div>



<!-- Modal -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавление категории</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/addList}" method="post" >
                    <label>Введите название: </label>
                    <input type="text" name="name" />
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <input class="btn btn-primary" type="submit" value="Подтвердить" />
            </div>
                </form>
        </div>
    </div>
</div>
<form action="#" th:action="@{/index/addTask}" method="post" >
    <input type="text" name="title">
    <input type="hidden" name="parent" th:value="${currentList.getId()}">
    <button type="submit" class="btn btn-secondary">Добавить задачу</button>
</form>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>