

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <style>
        body {
        background-color: #FAEBD7;
        }
    </style>
</head>
<body>
<table align="center" rules ="rows" style = "width:60%;">
    <tr>
        <td>
            <table border="1"  bgcolor="#00BFFF" cellpadding="10" style="width:100%; border-radius:5px;">
                <tr>
                    <td align="center" colspan="2">
                        <font ><h1>Заметки</h1></font>
                    </td>
                </tr>
                <tr>
                    <td style="width:30%" bgcolor="#00FFFF">
                        <div th:each="category: ${categories}">
                            <a th:href=@{/index} th:utext="${category.getName()}"></a>
                        </div>


                        <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
                            <p><input type="submit" value="Добавить" /> </p>
                        </form>


                    </td>
                    <td bgcolor="#00FFFF">
                        <p></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>