<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <link rel = "stylesheet" href="/assets/css/bootsrap.css">
    <link rel = "stylesheet" href="/assets/css/style.css">
</head>
<body class="bg-dark">
<div class="container bg-light" >
    <div class="row" >
        <div class="col m-2 p-2" >
            <img class="logo" src="/assets/img/notes.jpg">
            <span class="head-text">ЗАМЕТКИ</span>
        </div>
        <div class="col m-2 p-2 text-right">
            <a th:href="@{/addList}"><button class="btn btn-primary">Добавить категорию</button></a>
        </div>
    </div>
<table class="table table-bordered"   style=" width:880px" align="center">
    <thead class="thead-dark">
    <tr>
        <th>Категории</th>
        <th>Задачи</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td scope="row">
            <div th:each="list: ${lists}">
            <!--<a th:href=@{/index} th:utext="${list.getName()}"></a>-->
            <a th:href="@{/index/{id}(id=${list.getId()})}" th:utext="${list.getName()}"></a></li>
                <form align="right"  action="#" th:action="@{/index/{id}/delete (id=${list.getId()})}">
                    <button type="submit" >Удалить</button>
                </form>
        </div>
        </td>
        <td scope="row">
        </td>
    </tr>
    </tbody>
</table>
</div>
<form action="#" th:action="@{/addList}" method="post" >
    <input type="text" name="name" />
    <input type="submit" value="Добавить" />
</form>
</body>
</html>